spring:
  application:
    name: F-Project
  jackson:
    serialization:
      write-dates-as-timestamps: false
    time-zone: Europe/Moscow
    date-format: yyyy-MM-dd'T'HH:mm:ssZ

logging:
  level:
    org.springframework: ERROR
    springfox: ERROR

server:
  port: 8091

elastic:
  cluster: elasticsearch
  host: localhost
  port: 9300

food-extractor:
  force-update: false
---
spring:
    profiles: dev
---
spring:
    profiles: prod